*{
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	transition: all 0.5s ease;
}
body{
	font-weight: 700;
}


.main-body{
	display: block;
}

.wrapper{
	display: block;
	padding: 0 22px;
	margin: 0 -11px;
}

.main-body{
	.wrapper{
		background: white;
	}
}